<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hanyou - Editar Producto</title>
    <%- include('../partials/head') %>
  </head>

  <body id="body-productDetail">
    <%- include('../partials/header') %>

    <main id="main-productDetail">
      <% if (product) {%> <%- include('../partials/productSingleDescription',
      {product: product}) %> <% } else {%>
      <h2>No existe el producto solicitado</h2>
      <% } %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
