<!DOCTYPE html>
<head>
  <title>Hanyou - Nuestros productos</title>
  <link rel="stylesheet" href="/css/productList.css"/>
  <%- include('../partials/head') %>
</head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <!--Banner Principal-->
      <h1 id="listTitle">Nuestros Productos</h1>

      <!--Productos principales-->
      <section id="mainProducts">
        <ul id="productosIndex">
          <% if (products.length > 0) {products.forEach (e => {%> <%-
          include('../partials/productCards', {e:e}) %> <% })} %>
        </ul>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
