#newMain {
  width: 85%;
  background-color: #c9c8c8;
  color: #323232;
}

#newTitle {
  margin: 15px;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 25px;
}

#newCard {
  border-left: 10px solid #645eff;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background-color: #e4dfdf;
}

#newImg {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
}

#newImg img {
  width: 50%;
}

#info {
  border-top: solid 1px #323232;
  margin: 20px;
  text-align: center;
  font-size: 15px;
}

#name {
  font-weight: bold;
}

#userName {
  font-weight: bold;
}

#price {
  font-size: 25px;
  color: #645eff;
  font-weight: bold;
}
