header {
    display: flex;
    background-color: #323232;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    min-height: 100vh;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#logo img{
    width: 100%;
}

#logo {
    width: 70%;
    align-self: center;
}

#author {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
  }