<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <!-- logo -->
      <article id="topbar">
        <section id="logoSearch">
          <a href="/" id="logo">
            <img src="/img/logoHorizontal.png" alt="Logo Hanyou" />
          </a>
          <!-- barra busqueda -->
          <form action="/search" method="get" id="barra-busqueda">
            <input type="text" name="q" placeholder="Buscar" id="buscador" />
            <button type="submit" id="buttonLupa">
              <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
            </button>
          </form>
        </section>
        <ul class="icon-nav-bar">
          <% if (!user) {%>
          <li class="welcome">Bienvenido, invitado!</li>
          <li class="icon">
            <a href="/login"><i class="fa-solid fa-user hicon"></i></a>
          </li>

          <% } else {%>
          <li class="welcome">Bienvenido, <%= `${user.firstName}!` %></li>
          <li class="icon">
            <a href="/profile"> <i class="fa-solid fa-user hicon"></i> </a>
          </li>
          <li class="icon">
            <a href="/logout"><i class="fa-solid fa-door-open hicon"></i></a>
          </li>
          <% } %>

          <li class="icon">
            <a href="/productos/productCart"
              ><i class="fa-solid fa-cart-shopping hicon"></i
            ></a>
          </li>
        </ul>
      </article>
      <ul class="link-nav-bar">
        <li id="linksHeader"><a href="/productos">Productos</a></li>
        <li id="linksHeader"><a href="/contacto">Contacto</a></li>
        <li id="linksHeader"><a href="/">Sobre Hanyou</a></li>
        <% if (!user) {%>
        <li id="linksHeader"><a href="/register">Crea tu cuenta</a></li>
        <% } else {%>
        <li id="linksHeader">
          <a href="/productos/productCart">Mis compras</a>
        </li>
        <% } %>
      </ul>
    </header>
  </body>
</html>
