<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Hanyou</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Stylesheet-->
    <link rel=stylesheet href="/css/styles.css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Logo Hanyou">
        <form action="" method="get">
            <input type="text" name="q" placeholder="Buscar">
            <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>
        <nav>
            <ul>
                <li> <a href=''>Categorías</a></li>
                <li> <a href=''>Contacto</a></li>
                <li> <a href=''>Extra que no se que poner</a></li>
            </ul>
            <ul>
                <li> <a href='/productCart'><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li> <a href='/login'><i class="fa-solid fa-user"></i></a> </li>
            </ul>
        </nav>
    </header>
    <main>
        MAIN
    </main>
    <footer>
        <nav>
            <ul></ul>
            <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
        </nav>
    </footer>


</body>

</html>