<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>----Header-----</header>
    <form action="" method="post">
        <div>
            <input type="text" name="userName" placeholder="Nombre de Usuario" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div>
            <label>
                <input type="checkbox" value="true"> Recordar mi usuario y contraseña
            </label>
        </div>
        <div>
        <a href="">¡Olvidé mi contraseña!</a>
        </div>
        <div>
        <button type="submit">Iniciar sesión</button>
        </div>
        <div>
        <p>¿No tenés cuenta?</p>
        <a href="">Crear cuenta</a>
        </div>
    </form>
<footer>---Footer----</footer>

</body>

</html>