@import url("main.css");
 
/*#createNewProductMain*/
#editProductMain {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #424242;
}

/*#createNewProductForm*/
#editProductForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 30px;
  border: solid 1px #323232;
  border-radius: 20px;
  width: 90%;
  background-color: #323232;
}

/*#createNewProductForm*/
#editProductForm {
  box-shadow: 0px 0px 20px #424242;
}
/*#createNewProductForm*/
#editProductForm:hover {
  box-shadow: 0px 0px 20px rgb(9, 21, 244);
}

/*filesButton*/
#editFilesButton {
  margin: auto;
  text-align: center;
}

#c_eDescripcion {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 50px;
}

/*c_eButton*/
.eButton {
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  border: solid 1px #645eff;
  background-color: #645eff;
  padding: 10px;
  transition: all 450ms;
}

/*createNewProductCampos*/
.editProductCampos {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #424242;
  margin: 10px;
  width: 100%;
  color: #645eff;
}

/*caracteristicasProductoCreado*/
#caracteristicasProductoEdit {
  display: flex;
  flex-direction: column;
}

/*createNewProductcharacteristic*/
.editProductcharacteristic {
  text-align: center;
}

/*precioProductoCreado*/
#precioProductoEdit {
  margin: 10px;
  display: flex;
  position: relative;
}

/*precioProductoCreado*/
#precioProductoEdit p {
  color: grey;
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 0.9rem;
}

/*createNewProductPrice*/
#editProductPrice {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-left: 18px;
}

/*botonProductoCreado*/
#botonProductoEdit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/*botonProductoCreado*/
#botonProductoEdit button,
/*createNewProductcharacteristic*/
.editProductcharacteristic select {
  margin-bottom: 15px;
}

/*botonProductoCreado*/
#botonProductoEdit button,
/*filesButton*/
#editFilesButton {
  width: 30vw;
}

/*filesButton*/
#editFilesButton {
  margin-bottom: 10px;
}
/*filesButton*/
#editFilesButton:hover,
/*createNewProductcharacteristic*/
.editProductcharacteristic select:hover {
  background-color: #52a8ff;
  border: solid 1px #52a8ff;
}

/*createNewProductTitles*/
.editProductTitles {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

/*createNewProductSubtitles*/
.editProductSubtitles {
  font-size: 1rem;
  text-align: justify;
}

@media (min-width: 481px) {
  /*createNewProductForm*/
  #editProductForm {
    width: 70%;
  }
  /*createNewProductMain*/
  #editProductMain {
    padding: 30px;
  }
}

@media (min-width: 769px) {
  /*createNewProductForm */
  #editProductForm {
    width: 60%;
  }
  /*#createNewProductMain*/
  #editProductMain {
    padding: 50px;
  }
}

@media (min-width: 1028px) {
  /*createNewProductForm*/
  #editProductForm {
    width: 40%;
  }
  /*characteristicArticles*/
  #editCharacteristicArticles {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
  }
}
