footer {
    background-color: #323232;
}
.footer-icon-bar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-icon-bar li {
    margin: 10px;
    padding: 5px;
}

/* .footer-icon-bar li a i {
    color: black;
} */
