.loginForm {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 50px;
}

#loginBox {
  border: solid 1px #323232;
  border-radius: 20px;
  padding: 20px;
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.camposLogin {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #424242;
  margin: 10px;
  width: 90%;
  color: #645EFF;
}

#olvideContraseña {
  color: #52A8FF;
}

/* css botones viene de la vista de producto */

@media (min-width: 768px){
  .loginForm {
      width: 60%;
  }
}

@media (min-width: 1028px) {
  .loginForm {
      width: 40%;
  }
}