@import url("header.css");
@import url("footer.css");
@import url("index.css");
@import url("login.css");
@import url("productDetail.css");
@import url("register.css");
@import url("productCart.css");
@import url("createNewProduct.css");
@import url("editProduct.css");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
