.productDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#firstSection-productDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-picture {
  width: 80%;
}

#productImg {
  width: 100%;
  padding: 20px;
}

.descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#nombreDeProducto {
  font-size: 40px;
  font-weight: lighter;
  padding: 5px;
}

#precioDelProducto {
  color: #645EFF;
  font-weight: 500;
  font-size: 30px;
  padding: 5px;
}

#descripcionDelProducto {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    
}

#button {
  width: 50%;
    padding: 10px;
    background-color: #645EFF;
    border: solid 1px #645EFF;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    transition: all 450ms;
}

#button:hover {
  background-color: #52A8FF;
  border: solid 1px #52A8FF;
}

#precioDelDetalle {
  margin-top: 5px;
}

#buyButton {
  margin-top: 5px;
}

@media (min-width: 769px) {

  .productDetail {
    flex-direction: row;
  }

  #firstSection-productDetail {
    width: 50%;
  }

  #secondSection-productDetail {
    width: 50%;
  }
}