@import url("main.css");
 
#main-productDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#firstSection-productDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productImg {
  width: 80%;
  padding: 20px;
}

#descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#nombreDeProducto {
  font-size: 40px;
  font-weight: lighter;
  padding: 5px;
}

#precioDelProducto {
  color: #645eff;
  font-weight: 500;
  font-size: 30px;
  padding: 5px;
}

#descripcionDelProducto {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.button {
  width: 50%;
  padding: 10px;
  background-color: #645eff;
  border: solid 1px #645eff;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  transition: all 450ms;
}

#button:hover {
  background-color: #52a8ff;
  border: solid 1px #52a8ff;
}

#precioDelDetalle {
  margin-top: 5px;
}

#buyButton {
  margin-top: 5px;
}

@media (min-width: 769px) {
  #main-productDetail {
    flex-direction: row;
  }

  .sectionProducDetail {
    width: 50%;
  }
}

#productModif {
  align-self: flex-end;
  font-size: 15px;
  margin-left: auto;
  padding: 40px 10px 0px 40px;
}

#productModif a {
  color: #645eff;
  padding: 5px;
  transition: text-decoration 450ms;
}

#productModif a:hover {
  text-decoration: underline;
}

#destroyButton {
  width: 90%;
  padding: 10px;
  background-color: #645eff;
  border: solid 1px #645eff;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  transition: all 450ms;
}

#destroyButton:hover {
  background-color: #ff020f;
  border: solid 1px #ff020f;
}
