#body-productDetail {
  width: 100vw;
}

#main-productDetail {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

#product-picture {
  text-align: center;
  display: flex;
  justify-content: center;
}

#product-picture img {
  margin-top: 10px;
  max-width: 90%;
  max-height: 50vh;
}

#secondSection-productDetail {
  margin-top: 20px;
  flex-grow: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descripcion,
.buttons {
  margin-top: 12px;
}

.descripcion {
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  text-align: center;
}

#precioDelDetalle {
  margin-top: 5px;
}

#buyButton {
  margin-top: 5px;
}

@media (min-width: 769px) {
  #main-productDetail {
    flex-direction: row;
  }

  #secondSection-productDetail {
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0.7;
  }

  .descripcion {
    flex-grow: 0.3;
    justify-content: flex-end;
  }

  .buttons {
    flex-grow: 0.6;
  }
}
