@import url("main.css");
 
/* banner */

main {
  background-color: #4b4a4a;
  padding: 10px 0px;
}

#mainBanner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#banner {
  width: 100%;
}

/* productos */
#mainProducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

#listTitle {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

#productosIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product {
  display: block;
  display: flex;
  width: 90%;
  border: solid 1px #323232;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all 450ms;
  position: relative;
  background-color: #434343;
}

.itemIndex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.product:hover {
  box-shadow: 0px 0px 10px #645eff;
  border: solid 1px transparent;
}

.productImgIndex {
  max-height: 30vh;
  min-height: 30vh;
  width: 90%;
  padding: 20px;
}

.description {
  border-top: solid 1px #323232;
  width: 90%;
  padding-top: 5px;
  text-align: center;
}

.nombreIndex {
  font-size: 16px;
  font-weight: lighter;
}

.precioIndex {
  color: #52a8ff;
  font-weight: 500;
  font-size: 25px;
}

.cartProduct {
  padding: 5px 10px;
  background-color: #645eff;
  border-radius: 50%;
  border: solid 1px #645eff;
  font-size: 16px;
  transition: all 450ms;
  position: absolute;
  bottom: 85px;
}

.cartProduct:hover {
  background-color: #52a8ff;
  border: solid 1px #52a8ff;
  transform: rotate(360deg);
}

@media (min-width: 768px) {
  #productosIndex {
    flex-direction: row;
  }

  #banner {
    width: 92%;
  }
  .product {
    width: 25%;
  }
}
