#registerBox {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#formularioDeRegistro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding: 30px;
  border: solid 1px #323232;
  border-radius: 20px;
  width: 90%;
  background-color: #323232;
}

#formularioDeRegistro {
  box-shadow: 0px 0px 0px #424242;
}
#formularioDeRegistro:hover {
  box-shadow: 0px 0px 20px rgb(9, 21, 244);
}

.campos {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #424242;
  margin: 10px;
  color: #645eff;
}

#nombreCompleto {
  display: flex;
}

#terminosYCondiciones {
  display: flex;
  align-items: center;
  margin: 0% 5%;
}

#nombre,
#apellido {
  width: 50%;
}

.terms {
  width: 10%;
  height: 10px;
}

#terminos {
  width: 90%;
  font-size: 16px;
}

#botonesRegistro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#cuentaExistente {
  text-align: center;
}

/* css botones viene de la vista de producto */

@media (min-width: 768px) {
  #formularioDeRegistro {
    width: 60%;
  }
}

@media (min-width: 1028px) {
  #formularioDeRegistro {
    width: 40%;
  }
}
