footer {
    background-color: #323232;
}
#footer-icon-bar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.ficon {
    margin: 10px;
    padding: 5px;
    width: 13px;
    transition: color 450ms;
}

.ficon:hover {
    color: #645eff;
}

