<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/top_head') %>
    <title>Bienvenido a Hanyou</title>
    <%- include('./partials/bottom_head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!--Banner Principal-->
      <figure id="mainBanner">
        <img src="/img/banner.png" alt="Banner" id="banner" />
      </figure>

      <!--Productos principales-->
      <section id="mainProducts">
        <h2>Productos destacados</h2>
        <ul id="productosIndex">
          <% for (i=0;i<3;i++) {%>
          <li class="product">
            <a href="/" class="itemIndex">
              <img
                src="/img/product.png"
                alt="Producto"
                class="productImgIndex"
              />
              <article class="description">
                <h3 class="nombreIndex">Alien</h3>
                <p class="precioIndex">$20</p>
              </article>
              <a href="/" class="cartProduct"
                ><i class="fa-solid fa-cart-shopping"></i
              ></a>
            </a>
          </li>
          <% } %>
        </ul>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
