<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main>
        <!--Banner Principal-->
        <figure id="mainBanner">
          <img src="/img/banner.png" alt="Banner" id="banner" />
        </figure>

        <!--Productos principales-->
        <section id="mainProducts">
          <h2>Productos destacados</h2>
          <ul id="productosIndex">
            <li class="product">
              <a href="/productDetail" class="itemIndex">
                <img src="/img/product.png" alt="Producto" class="productImg" />
                <article class="description">
                  <h3 class="nombreIndex">Alien</h3>
                  <p class="precioIndex">$100.00</p>
                </article>
              </a>
            </li>
            <li class="product">
              <a href="/productDetail" class="itemIndex">
                <img src="/img/product.png" alt="Producto" class="productImg" />
                <article class="description">
                  <h3 class="nombreIndex">Alien</h3>
                  <p class="precioIndex">$100.00</p>
                </article>
              </a>
            </li>
            <li class="product">
              <a href="/productDetail" class="itemIndex">
                <img src="/img/product.png" alt="Producto" class="productImg" />
                <article class="description">
                  <h3 class="nombreIndex">Alien</h3>
                  <p class="precioIndex">$100.00</p>
                </article>
              </a>
            </li>
          </ul>
        </section>
      </main>

      <%- include('partials/footer') %>
  </body>

</html>