<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
    <main>
      <!--Banner Principal-->
      <div class="mainBanner">
        <img src="/img/banner.png" alt="Banner" id="banner" />
      </div>

      <!--Productos principales-->
      <section class="mainProducts">
        <div class="product">
          <a href="/productDetail">
            <img src="/img/product.png" alt="Producto" class="productImg" />
          </a>
          <div id="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
          <div class="description">
            <ul>
              <a href="/productDetail">
                <li class="nombre">Alien I</li>
              </a>
              <a href="/productDetail">
                <li class="precioIndex">$100.00</li>
              </a>
            </ul>
          </div>
        </div>

        <div class="product">
          <a href="/productDetail">
            <img src="/img/product.png" alt="Producto" class="productImg" />
          </a>
          <div id="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
          <div class="description">
            <ul>
              <a href="/productDetail">
                <li class="nombre">Alien II</li>
              </a>
              <a href="/productDetail">
                <li class="precioIndex">$200.00</li>
              </a>
            </ul>
          </div>
        </div>

        <div class="product">
          <a href="/productDetail">
            <img src="/img/product.png" alt="Producto" class="productImg" />
          </a>
          <div id="addCart"><i class="fa-solid fa-cart-shopping"></i></div>
          <div class="description">
            <ul>
              <a href="/productDetail">
                <li class="nombre">Alien III</li>
              </a>
              <a href="/productDetail">
                <li class="precioIndex">$300.00</li>
              </a>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
