<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <section class="mainSection">
        <!--Todos los Productos-->

        <div class="producto">
          <!--Producto por ítem-->

          <img src="/img/product.png" alt="producto" class="productImg" />

          <nav class="botonera">
            <button class="button">+</button>
            <p class="cantidad">1</p>
            <button class="button">-</button>
          </nav>

          <p class="precio">$800</p>

          <div class="icono">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>

        <div class="producto">
          <!--Producto por ítem-->

          <img src="/img/product.png" alt="producto" class="productImg" />

          <nav class="botonera">
            <button class="button">+</button>
            <p class="cantidad">1</p>
            <button class="button">-</button>
          </nav>

          <p class="precio">$800</p>

          <div class="icono">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>

        <div class="actions">
          <button id="seguirComprando">Seguir Comprando</button>

          <button id="comprar">Comprar</button>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
