<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <main>
      <div id="registerBox">
        <form action="/" method="POST" id="formularioDeRegistro">
          <!--Campos completables-->
          <div id="nombreCompleto">
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              class="campos"
            />
            <input
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Apellido"
              class="campos"
            />
          </div>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Correo electrónico"
            class="campos"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Creá tu contraseña"
            class="campos"
          />
          <input
            type="password"
            name="password"
            id="confirmPassword"
            placeholder="Confirmá tu contraseña"
            class="campos"
          />
          <div id="terminosYCondiciones">
            <input
              type="checkbox"
              name="terms"
              id="terms"
              value="terminos"
              class="terms"
              required
            />
            <label for="terms" id="terminos"
              >Acepto términos de servicio y privacidad</label
            >
          </div>

          <!--Creá tu cuenta o iniciá sesión-->
          <div class="botonesRegistro">
            <button id="button">Crear cuenta</button>
            <p>¿Ya tenés una cuenta?</p>
            <button id="button">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
