<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <footer>
        <nav>
          <ul class="footer-icon-bar">
            <li>
              <a href=""><i class="fa-brands fa-whatsapp" id="icon"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/hanyou_earings/" target="_blank"
                ><i class="fa-brands fa-instagram" id="icon"></i
              ></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-twitter" id="icon"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-envelope" id="icon"></i></a>
            </li>
          </ul>
        </nav>
      </footer>
</body>
</html>