<div class="producto">
  <!--Producto por ítem-->
  <picture>
    <img src="/img/product.png" alt="producto" class="productImg" />
  </picture>

  <nav class="botonera">
    <button class="button"><i class="fa-solid fa-plus"></i></button>
    <p class="cantidad">1</p>
    <button class="button"><i class="fa-solid fa-minus"></i></button>
  </nav>

  <p class="precio">$800</p>

  <div class="icono">
    <i class="fa-solid fa-trash-can"></i>
  </div>
</div>
