<li class="product">
  <a href="/productDetail" class="itemIndex">
    <img src="/img/product.png" alt="Producto" class="productImgIndex" />
    <article class="description">
      <h3 class="nombreIndex">Alien</h3>
      <p class="precioIndex">$100.00</p>
    </article>
    <a href="/productCart" class="cartProduct"><i class="fa-solid fa-cart-shopping"></i></a>
  </a>
</li>
